<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing post</title>
</head>
<body>
    <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
        <h2>ID: <%=post.id%></h2>
        <h3>Username: @<%=post.username%></h3>
        <textarea placeholder="enter content"  cols="30" rows="10" name="content"><%=post.content%></textarea>
        <br>
        <button>Submit</button>
       
    </form>
</body>
</html>