<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>individual post</title>
    <link rel="stylesheet" href="/styling.css">
</head>
<body>
        <div class="post">
            <h2>User id : <%=post.id%></h2>
            <h2 class="user">username : <%=post.username%></h2>
            <p><%=post.content%></p>
        </div>
        
</body>
</html>